* {
    padding: 0px;
     margin: 0px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
    margin-top: 30px;
}
  
@media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
}

main {
    min-height: 73vh;
}

.jumbotron {
    text-align: center;
    padding: 10rem 0px;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#ffffff;
    padding-left:10px!important;
}	

legend{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 50%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
}